// Main styles

body {
  background-color: #fefefe;
  color: $spring-color;
  font-family: sans-serif;
  line-height: $spring-8point * 3;
}

a {
  color: $spring-color-link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Website

.website {
  max-width: 1500px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

// Container

.container {
  max-width: 1220px;
  margin: 0 auto;
}

// Header

.header {
  padding: $spring-8point * 3 0;
  .container:after {
    content: ' ';
    clear: both;
    display: block;
  }
  div.spring-logo {
    float: left;
  }
  ul.nav {
    list-style: none;
    margin: 0;
    padding: $spring-8point/2 0 0 0;
    float: right;
    li {
      display: inline;
      a {
        color: $spring-color;
        display: inline-block;
        padding: $spring-8point $spring-8point * 2;
      }
    }
  }
}

// SVG spring logo

.svg-spring-logo {
  .st0 {
    fill: #6eb33f;
  }
  .st1 {
    fill: #8a8c8e;
  }
}

// Promo

.promo {
  background: $spring-color-light;
  height: 400px;
}

.promo-links {
  border-bottom: 2px solid $spring-border-color;
  padding: $spring-8point * 2 0;
  ul {
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 $spring-8point;
      position: relative;
      &.divider {
        padding-right: $spring-8point * 2;
        &:after {
          content: ' ';
          position: absolute;
          top: 4px;
          right: 0;
          height: 16px;
          width: 2px;
          background: $spring-border-color;
        }
      }
    }
  }
}

// What spring can do

.what-spring-can-do {
  padding: $spring-8point * 6 0;
  h1 {
    font-size: 36px;
  }
  article {
    border: 2px solid $spring-border-color;
    height: 100%;
    padding: $spring-8point * 4 $spring-8point * 4;
    text-align: center;
    .image {
      background: $spring-border-color;
      width: 50%;
      height: 100px;
      margin: 0 auto;
    }
    h1 {
      font-size: 23px;
      margin: 0;
      padding: $spring-8point * 3 0 $spring-8point * 2;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
}

// badge

.badge {
  display: inline-block;
  padding: $spring-8point/2 $spring-8point * 2;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $spring-8point * 2;
  text-transform: uppercase;
  color: white;
  background: $spring-color-link;
}

// get Connected / Ahead / Support

.get-connected-ahead-support {
  background: $spring-color-light;
  padding: $spring-8point * 8 0;
  article {
    h1 {
      font-size: 23px;
    }
    padding-right: 80px;
    &.last {
      padding-right: 0;
    }
  }
}

// Quote

.quotes {
  padding-bottom: $spring-8point * 8;
  .quote {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    line-height: $spring-8point * 5;
  }
}

// Styled List

ul.list-styled {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: $spring-8point * 5 0;
    border-left: 2px solid $spring-color-primary;
    padding-left: $spring-8point * 2;
  }
}
